/* COMMON STYLES */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.7rem;
  text-align: center;
  color: #262f75;
}

.cta {
  background: none;
  padding: 10px 30px;
  border: 1px solid #fff;
  text-transform: capitalize;
  color: #fff;
  font-size: 1.4rem;
}

.cta-main {
  background: #fa6100;
  text-transform: uppercase;
}

.select {
  width: 210px;
  background: #fff;
  border: 0;
  box-shadow: 0px 0px 14px 2px rgba(161, 161, 161, 1);
}

body {
  font-family: 'roboto', sans-serif;
}
.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/vashishtha-jogi-66778-unsplash.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.navigation {
  display: flex;
  align-items: center;
  padding-top: 30px;
  color: #fff;
}
.navigation h1 {
  margin-right: auto;
}
.navigation span {
  margin-left: 13px;
}
.welcome {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.welcome h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}
.welcome h4 {
}
.welcome .cta {
  margin-top: 20px;
}

/* STATS SECTION */
.stats {
  margin-top: 80px;
}

.stats .container {
  justify-content: space-between;
}

.stat {
  text-align: center;
  color: #262f75;
}

.stat h4 {
  font-size: 2.7rem;
  margin: 0 0 0.4rem;
}

.stat p {
  font-size: 1.4rem;
}

/* FORM TOUR */
.tour-form {
  margin-top: 60px;
  margin-bottom: 60px;
}

.tour-form h4 {
  text-transform: uppercase;
  margin-bottom: 80px;
}

.tour-form form {
  margin-top: 35px;
  justify-content: space-between;
}
